/* ADDS GOOGLE FONT */
@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu&display=swap');

body {
  padding: 0%;
  margin: 0%;
  font-family: 'Lato';
}
/* NAVBAR */
.navbar-brand {
  font-family: 'Righteous';
  font-size: 35px;
  color: coral !important;
  transition: all 0.5s ease-in
}
.navbar-brand:hover {
  color: black !important;
}
.nav-link {
  font-size: 16px;
  margin: 15px;
  color: black !important;
  font-family: 'Roboto Condensed';
  transition: all 0.5s ease-in;
}
.nav-link:hover {
  color: coral !important;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar .navbar-toggler {
  margin-right: 30px;
  background-color: white;
}
.navbar {
  background-color: whitesmoke;
}
/* SECTION-1 */
.site-content {
  background-image: url('../image/background1.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 750px;
}
.site-title, .site-desc {
  color: white;
  font-family: 'Roboto Condensed';
}
.site-title {
  margin-top: 30%;
  margin-bottom: 6%;
  font-size: 50px;
}
.site-desc {
  font-size: 20px;
}
.site-btn1 {
  margin-top: 5%;
  margin-bottom: 40%; 
  background-color: black;
  color: white;
  transition: all 0.5s ease-in
}
.site-btn1:hover {
  color: white !important;
  background-color: coral;
  border: rgb(192, 74, 32);
}



/* SECTION-1 */
.section-1, .heading-1 {
  margin-top: 5%;
  margin-bottom: 5%;
}
.section-1, .para-1 {
  width: 60%;
  margin-left: 20%;
  margin-bottom: 5%;
}
.section-1 .card {
  size: absolute;
}
.section-1 .card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.section-1 .card-text, .para-1 {
  color: rgba(0, 0, 0, 0.59);
}
.section-1 {
   margin-bottom: 8%;
}



/* SECTION-2 */
.section-2 .container-fluid {
  background-image: url('../image/background1.jpg');
  background-attachment: fixed;
  background-size: cover;
}
.section-2 .heading-1 {
  margin-top: 20%;
  margin-bottom: 4%;
  margin-left: 30%;
  font-family: 'Righteous';
  width: 80%;
  color: whitesmoke;
}
.section-2 .para {
  width: 80%;
  margin-left: 30%;
  font-family: 'Ubuntu';
  color: whitesmoke;
  margin-bottom: 7%;
}
.section-2 .btn {
  margin-bottom: 15%;
  margin-left: 30%;
  width: 30%;
  padding: 2% 5%;
}
.section-2 {
  margin-top: 8%;
}



/* SECTION-3 */
.section-3 .container-fluid {
  background-image: url('../image/background1.jpg');
  background-attachment: fixed;
  background-size: cover;
}
.section-3 .heading-1 {
  margin-top: 20%;
  margin-bottom: 4%;
  margin-left: 30%;
  font-family: 'Righteous';
  width: 80%;
  color: whitesmoke;
}
.section-3 .para {
  width: 80%;
  margin-left: 30%;
  font-family: 'Ubuntu';
  color: whitesmoke;
  margin-bottom: 7%;
}
.section-3 .btn {
  margin-bottom: 15%;
  margin-left: 30%;
  width: 30%;
  padding: 2% 5%;
}
.section-3 {
  margin-top: 8%;
}
.section-3 i {
  color: coral;
}
.section-3 p {
  color: rgba(0, 0, 0, 0.59);
}
.section-3 a {
  color: black !important;
  transition: all 0.5s ease-in
}
.section-3 a:hover {
  color: coral !important;
  text-decoration: none;
}
.section-3 .row {
  padding-bottom: 5%;
}



/* SECTION-4 */
.section-4 .container-fluid {
  background-image: url('../image/background1.jpg');
  background-attachment: fixed;
  background-size: cover;
}
.section-4 .heading-1 {
  margin-top: 20%;
  margin-bottom: 4%;
  margin-left: 30%;
  font-family: 'Righteous';
  width: 80%;
  color: whitesmoke;
}
.section-4 .para {
  width: 80%;
  margin-left: 30%;
  font-family: 'Ubuntu';
  color: whitesmoke;
  margin-bottom: 7%;
}
.section-4 .btn {
  margin-bottom: 15%;
  margin-left: 30%;
  width: 30%;
  padding: 2% 5%;
}
.section-4 {
  margin-top: 8%;
}
.section-4 i {
  color: coral;
}
.section-4 p {
  color: rgba(0, 0, 0, 0.59);
}
.section-4 a {
  color: black !important;
  transition: all 0.5s ease-in
}
.section-4 a:hover {
  color: coral !important;
  text-decoration: none;
}
.section-4 .row {
  padding-bottom: 5%;
}




/*---Style Welcome Section --*/
.welcome {
  /* condenses welcome row */
  width: 75%;
  /* centers welcome row */
  margin: 0 auto;
  padding-top: 2rem;
}
/* stylizes horizontal line */
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}




 @media screen and (max-width: 768px) {
   .section-1 .card {
     width: 14rem;
   }

   .section-4 .col-md-7 img {
     width: 350px;
   }
 }

 @media screen and (max-width: 320px) {
   .site-content .site-title {
     font-size: 30px;
     padding-left: 15%;
   }

   .site-content .site-btn1 {
     margin-left: 15%;
   }

   .section-1 .heading-1 {
     font-size: 25px;
   }
   .section-1 .col-md-4 {
     padding: 5%;
     margin-left: 8%;
   }
   .section-1 .card {
     width: 15rem;
   }

   .section-4 .col-md-5 {
     padding: 0% 15%;
   }

   footer input[type="button"]{
     margin-top: 5%;
   }
 }



 /*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/